<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://ARCHIMATE_PROFILES/"
            target="platform:/plugin/com.adocus.papyrus.archimate/profiles/"/>
   </extension>
   
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="ArchiMate Profile for Enterprise Architecture Modeling"
            iconpath="icons/archimate-togaf-128.png"
            name="ArchiMate"
            path="pathmap://ARCHIMATE_PROFILES/ArchiMate.profile.uml"
            provider="Adocus AB">
      </profile>
   </extension>

  <extension
        point="org.eclipse.uml2.uml.generated_package">
        <profile 
   			uri="http://www.adocus.com/archimate/archimateprofile" 
   			location="pathmap://ARCHIMATE_PROFILES/ArchiMate.profile.uml#_hXPvQHceEeWsMNQdZlFxTA"/> 
  </extension>
  <extension
        point="org.eclipse.papyrus.infra.architecture.models">
     <model
           path="resources/archimate.architecture">
     </model>
  </extension>
  
    
   



</plugin>
